
body, html {
  margin: 0;
  width: 100%;
  min-height: 100vh;
}

.main {
  display: flex;
  width: 100vw;
  min-height: calc(100vh - 96px);
}

@font-face {
  font-family: 'MegaMarketFont';
  src: url('./font/HeadingNowTrial-15Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}